body{
background:#0f0f0f;
color:white;
font-family:Poppins;
padding:40px;
}
.hero{
text-align:center;
margin-bottom:50px;
}
.card{
background:#1c1c1c;
padding:20px;
margin:20px 0;
border-radius:10px;
}
button{
padding:10px 20px;
background:#00f2ff;
border:none;
cursor:pointer;
}
